html {
  font-size: 16px;
}
* {
  box-sizing: border-box;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

h4 {
  font-weight: normal;
  font-size: 1.2rem;
}
h3 {
  font-size: 2rem;
  font-weight: normal;
}
img {
  object-fit: cover;
}
a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
textarea,
blockquote,
label {
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
textarea,
blockquote,
label,
button,
span,
input {
  font-family: "Open Sans", sans-serif;
  color: $font-color;
  line-height: 150%;
}
